In [1]:
# Use quotation marks for defining string
"Programming is nice"

'Programming is nice'

In [2]:
# Use single quotation marks for defining string
'Programming is nice'

'Programming is nice'

In [3]:
# A string can be a combination of spaces and digits:
'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [4]:
#Also a string can also be a combination of special characters :
'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [5]:
# We can print our string using the print statement:
print("Hello, World!")

Hello, World!

In [6]:
# Assign string to variable
Name = "Pedro Yarleque"
Name

'Pedro Yarleque'

In [7]:
# Printing the first element in the string Name
print(Name[0])

P

In [8]:
# Printing the first element on index 7 in the string Name
print(Name[7])

a

In [9]:
#Negative index can help us to count the element from the end of the string.
#For instance: Printing the last element in the string
print(Name[-1])

e

In [10]:
#The first element can be obtained by index -14:
print(Name[-14])

P

In [11]:
# Take the slice on variable Name with only index 7 to index 12
Name[7:13]

'arlequ'

In [12]:
# Practice the stride obtaining every second element. The elements on index 0, 2, 4 ...
Name[::2]

'PdoYreu'

In [13]:
# Get every second element in the range from index 0 to index 4
Name[0:5:2]

'Pdo'

In [14]:
# Concatenate two strings
Phrase1 = "The key to success is"
Statement = Phrase1 + " Teamwork!"
Statement

'The key to success is Teamwork!'

In [15]:
# Print the string for 3 times
3 * Statement

'The key to success is Teamwork!The key to success is Teamwork!The key to success is Teamwork!'

In [16]:
# Some scape sequences
# For example: New line escape sequence
print(" The key to success is\n Teamwork!" )

 The key to success is
 Teamwork!

In [17]:
# Tab escape sequence
print(" The key to success is\t Teamwork!" )

 The key to success is	 Teamwork!

In [18]:
# Include back slash in string
print(" The key to success is\\ Teamwork!" )

 The key to success is\ Teamwork!

In [19]:
# r will tell python that string will be display as raw string
print(r" The key to success is\ Teamwork!")

 The key to success is\ Teamwork!

In [20]:
# Convert all the characters in string to upper case
A = "keep smiling"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

before upper: keep smiling
After upper: KEEP SMILING

In [21]:
# Replace the old substring with the new target substring is the segment has been found in the string
A = "The key to success is Teamwork!"
B = A.replace('Teamwork', 'to never stop trying')
B

'The key to success is to never stop trying!'

In [22]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output
Name = "Pedro Yarleque"
Name.find('dro')

2

In [23]:
# If cannot find the substring in the string it will return -1
Name.find('sasdjw')

-1