In [1]:
# Creating my first tuple
tuple1 = ("hello", 8, 5.6)
tuple1

('hello', 8, 5.6)

In [2]:
# Print the type of the tuple I've just created
type(tuple1)

tuple

In [3]:
# Printing the variable on each index
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

hello
8
5.6

In [4]:
# Printing the type of value on each index
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [5]:
# Using negative index to get the value of the last element
tuple1[-1]

5.6

In [6]:
# Concatenating two tuples
tuple2 = tuple1 + ("world", 10)
tuple2

('hello', 8, 5.6, 'world', 10)

In [7]:
# Slicing from index 3 to index 4
tuple2[3:5]

('world', 10)

In [8]:
# Get the length of tuple
len(tuple2)

5

In [9]:
# Another sample tuple
Scores = (10, 5, 6, 3, 7, 9, 4, 2, 8)

In [10]:
# Sort the tuple
ScoresSorted = sorted(Scores)
ScoresSorted

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
# Create a nest tuple
NestedT =(1, 2, ("red", "green") ,(3,4),("blue",(1,2)))

In [12]:
# Printing the element on each index
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('red', 'green')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('blue', (1, 2))

In [13]:
# Printing the element on each index, including nest indexes
print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  red
Element 2, 1 of Tuple:  green
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  blue
Element 4, 1 of Tuple:  (1, 2)

In [14]:
# Printing the first element in the second nested tuples
NestedT[2][1][0]

'g'

In [15]:
# Printing the second element in the second nested tuples
NestedT[2][1][1]

'r'

In [17]:
# Let's practice with a new sample tuple
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [18]:
#Find the length of the tuple
len(genres_tuple)

8

In [20]:
#Accessing the element, with respect to index 3
genres_tuple[3]

'hard rock'

In [21]:
# Using slicing to obtain indexes 3, 4 and 5:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [22]:
# Finding the first two elements of the tuple
genres_tuple[:2]

('pop', 'rock')

In [23]:
# Finding the first index of "disco"
genres_tuple.index("disco")

7

In [24]:
# Generating a sorted List from the Tuple C_tuple=(-5, 1, -3):
C_tuple=(-5, 1, -3)
sorted_list=sorted(C_tuple)
sorted_list

[-5, -3, 1]

In [25]:
# Creating a list
L = ["Pedro Yarleque", 20.1, 1999]
L

['Pedro Yarleque', 20.1, 1999]

In [26]:
# Printing the elements on each index
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Pedro Yarleque
 Negative: Pedro Yarleque
the same element using negative and positive indexing:
 Postive: 20.1
 Negative: 20.1
the same element using negative and positive indexing:
 Postive: 1999
 Negative: 1999

In [29]:
# Sample Nested List
L = ["Pedro Yarleque", 20.1, 1999, [1, 2], ("A", 1)]

In [30]:
# List slicing
L[3:5]

[[1, 2], ('A', 1)]

In [31]:
# We can use extend to add elements to list
L = [ "Pedro Yarleque", 18.2]
L.extend(['Santos Linares', 19])
L

['Pedro Yarleque', 18.2, 'Santos Linares', 19]

In [32]:
# Use append to add elements to list, important to observe the differences
L = [ "Pedro Yarleque", 18.2]
L.append(['Santos Linares', 19])
L

['Pedro Yarleque', 18.2, ['Santos Linares', 19]]

In [33]:
# As list are mutable we can change the element based on the index
A = ["green", 10, 1.2]
print('Before change:', A)
A[0] = 'blue'
print('After change:', A)

Before change: ['green', 10, 1.2]
After change: ['blue', 10, 1.2]

In [34]:
# Also, it is possible to delete the element based on the index
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['blue', 10, 1.2]
After change: [10, 1.2]

In [35]:
# Split the string, default is by space
'hard rock'.split()

['hard', 'rock']

In [36]:
# We can split the string by comma too
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [37]:
# Copy (copy by reference) the list A
A = ["sky blue", 18, 3.2]
B = A
print('A:', A)
print('B:', B)

A: ['sky blue', 18, 3.2]
B: ['sky blue', 18, 3.2]

In [38]:
# Examining the copy by reference
print('B[0]:', B[0])
A[0] = "red"
print('B[0]:', B[0])

B[0]: sky blue
B[0]: red

In [39]:
# Cloning the list A
B = A[:]
B

['red', 18, 3.2]

In [41]:
# Now if we change A, B will not change:
print('B[0]:', B[0])
A[0] = "yellow"
print('B[0]:', B[0])

B[0]: red
B[0]: red