In [1]:
# Creating a set
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [2]:
# Converting a list to set
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [3]:
# Another sample of converting a list to set
music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [4]:
# Some Operations: e.g.Adding element to set
A = {'blue','red','green','yellow'}
A.add("orange")
A

{'blue', 'green', 'orange', 'red', 'yellow'}

In [5]:
# Trying to add duplicate element to the set to see what happen
A.add("orange")
A

{'blue', 'green', 'orange', 'red', 'yellow'}

In [6]:
# Removing the element from set
A.remove("orange")
A

{'blue', 'green', 'red', 'yellow'}

In [7]:
# Verifying if the element is in the set
"green" in A

True

In [8]:
# Practicing Logic Operations
S1 = {1,2,3,4}
S2 = {3,4,5,9}
S1, S2

({1, 2, 3, 4}, {3, 4, 5, 9})

In [9]:
# Finding the intersections
intersection = S1 & S2
intersection

{3, 4}

In [10]:
# Finding the difference in set1 but not set2
S1.difference(S2)

{1, 2}

In [11]:
# Finding the difference in set2 but not set1
S2.difference(S1)

{5, 9}

In [12]:
# Using intersection method to find the intersection of S1 and S2
S1.intersection(S2)

{3, 4}

In [13]:
# Finding the union of two sets
S1.union(S2)

{1, 2, 3, 4, 5, 9}

In [14]:
# Creating to sets to try issuperset and issubset functions
S1 = {1,2,3,4,5,6,7}
S2 = {3,4,5}

In [15]:
# Checking if superset
S1.issuperset(S2)

True

In [16]:
# Checking if subset
S2.issubset(S1)

True

In [17]:
# Examples of superset and subset returning False
print(S2.issuperset(S1))
print(S1.issubset(S2))

False
False

In [18]:
# More Practice: converting the list ['rap','house','electronic music', 'rap'] to a set:
L = ['rap','house','electronic music', 'rap']
S = set(L)
S

{'electronic music', 'house', 'rap'}

In [19]:
# Considering the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) = sum(B)
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print("The sum of A is: ", sum(A))
print("The sum of B is: ", sum(B))
if sum(A)==sum(B):
    print("Both give the same result")
else:
    print("The results are different")

The sum of A is:  6
The sum of B is:  3
The results are different

In [20]:
# Cheking if C is a subset of D
C = {'blue','green','yellow','cyan'}
D = {'cyan','blue'}
C.issubset(D)

False